name: Release

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: 22
          cache: npm
      - run: npm ci
      - run: npm version ${{ github.event.release.tag_name }} --no-git-tag-version
      - run: npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
